<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/logout">sair</a>
        </nav>
    </header>
    <main>
        {% block content % }
        <!-- entrada dos conteudos das pags dados paibeis e etcs -->
        {% endblock %}
    </main>
    <footer>
        <p> {{2025}} FastApi - Desenvolvido por... nome</p>
    </footer>
</body>                                             
</html>